/* estilos main */
/*! galeria */
#galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#galeria img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
/*! fin galeria  */

/*! tirando magia de css */
h1{
 @include titulo-primario;   

}
/* aplico transicion */
h1 span{
    transition: .5s linear;
}
/* paso por encima del H1 y selecciono el primer hijo */
h1:hover span:nth-child(1){
    margin-right: 5px;
}
/* agrego la pseudoclase ::after para cuando termino de pasar */
/** la propiedad content agrega un contenido extra */
h1:hover span:nth-child(1):after{
    content: "'";
}
/* selecciono al segundo hijo y lo muevo 30px */
h1:hover span:nth-child(2){
    margin-right: 30px;
}
/* le doy una sompra al texto dentro de todos los span */
h1:hover span{
    /* declaro el color principal para los span y poder agregar sombra*/
    color: #fff;
    /* propiedad text-shadow: agrego sombra horizontal, vertica, blur y por ultimo color */
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff
}
/*! fin de la magia */

/* fin estilos main */
