@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$bg-primary: linear-gradient(to bottom, rgba(0, 0, 0, 0.697) 0%, #c3c3c3f6 100%);
$bg-second: linear-gradient(90deg, rgba(46,8,38,1) 0%, rgba(121,9,98,1) 62%, rgba(11,28,97,0.6082808123249299) 100%);
$font-typo-tile: 'Poppins', sans-serif;
$font-size-title: 48px;
$font-color-title: #252222;
$display-title: inline;